<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 添加 viewport 元标签 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>环球寻光记 - 首页</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>欢迎来到环球寻光记</h1>
    <nav>
        <a href="{{ url_for('recommend') }}">推荐模块</a>
        <a href="{{ url_for('map') }}">地图模块</a>
        <a href="{{ url_for('punch') }}">打卡模块</a>
        <a href="{{ url_for('search') }}">搜索模块</a>
    </nav>
</body>
</html>