<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>环球寻光记 - 首页</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% include 'navbar.html' %}

    <!-- 主标题 -->
    <div class="container my-5 text-center">
        <h1 class="display-3">欢迎来到环球寻光记</h1>
    </div>

    <!-- 引入 Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>