<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">环球寻光记</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('recommend') }}">推荐模块</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('map') }}">地图模块</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('punch') }}">打卡模块</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('search') }}">搜索模块</a>
                </li>
                {% if username %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">注销 ({{ username }})</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">注册</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">登录</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>