<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container my-5">
        <h1 class="display-4">注册</h1>
        <form method="post" class="row g-3">
            <div class="col-md-12">
                <label for="username" class="form-label">用户名</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
            </div>
            <div class="col-md-12">
                <label for="password" class="form-label">密码</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="密码">
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">注册</button>
            </div>
        </form>
    </div>

    <!-- 引入 Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>